.prdct-point-col:nth-child(odd) {
    justify-content: flex-end;
    text-align: right;
}
.prdct-point-col:last-child:nth-child(odd)::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: calc(100% - 80px);
    background-color: #000;
    transform: translateX(50%);
}
.prdct-point-col:last-child:nth-child(even)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: calc(100% - 80px);
    background-color: #000;
    transform: translateX(-50%);
}
.prdct-point-col:nth-child(even) {
    padding-top: 80px;
}
.prdct-point-col:nth-child(odd) .product-dscp-richtxt li {
    background-position: right 20px top 11px;
    padding-left: 0;
    padding-right: 40px;
}
.product-point-card-line-wpr.right .product-point-card-line {
    right: 0;
    left: auto;
}
