.prdct-point-col:nth-child(odd) {
    justify-content: flex-end;
    text-align: right;
}
.prdct-point-col:nth-child(even) {
    padding-top: 80px;
}
.prdct-point-col:nth-child(odd) .product-dscp-richtxt li {
    background-position: right 20px top 11px;
    padding-left: 0;
    padding-right: 40px;
}
.product-point-card-line-wpr.right .product-point-card-line {
    right: 0;
    left: auto;
}
